.navStyles img {
  padding: 0 40px;
  filter: grayscale(100%) brightness(200%);
  transition-property: filter;
  transition-duration: .3s;
}

.navStyles img:hover {
  filter: none
}

.navStyles img:active {
  filter: none
}

.flatLogo {
  margin-top: 20px;
}

.navDividers {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.navStyles {
  padding: 10px;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #4D7EA8;
  justify-content: center;
  align-items: center;
}
