.navStyles img {
  padding: 0 40px;
  filter: grayscale(100%) brightness(200%);
}

.navStyles img:hover {
  filter: none
}

.navStyles img:active {
  filter: none
}

.navDividers {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.navStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
