form {
  align-self: center;
}

button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 1em;
  padding: 15px 20px;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #4C4C4C;
}

input[type="text"] {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #4C4C4C;
    font-size: 1em;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

span {
  display: block;
  padding: 15px 90px;
  cursor: pointer;
}

input[type='radio'] {
  display: none;
}

input[type="radio"]:checked + span {
  background-color: #4D7EA8;
  color: white;
}

input[type="radio"]:hover + span {
  background-color: #4D7EA8;
  color: white;
}

.radioGroup {
  line-height: 0.9px;
  border: 3px solid  #4D7EA8;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  margin-bottom: 20px;
}

.formStyles {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  color: #4D7EA8;
  margin: 30px;
  font-size: 2em;
}
