form {
  align-self: center;
}

span {
  display: block;
  padding: 5px 0;
  cursor: pointer;
}

input[type='radio'] {
  display: none;
}

input[type="radio"]:checked + span {
      background-color: #50E3C2;
      color: #4C4C4C;
}

.radioGroup {
  border: 2px solid  #50E3C2;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
}

.formStyles {
  display: flex;
  flex-direction: column;
}
