.splashContainer {
  min-height: 900px;
  background: linear-gradient(#F6FA61, #F76B1C);
}

.logoStyles {
  position: relative;
  transform: translateY(400px);
}

.enterBtn {
  border: 2px solid white;
  padding: 15px 20px;
  border-radius: 15px;
}

.inkWell img {
  width: 200px;
  margin-bottom: 30px;
}

.feather img {
  width: 70px;
  position: absolute;
  top: -540px;
  transform: rotate(-95deg);
  animation: featherDrop infinite 10s ease-in-out 0s;
}

@keyframes featherDrop {
  0% {}
    10% {transform: translate(250px, 50px) rotate(-120deg);}
    25% {transform: translate(-310px, 110px) rotate(-70deg);}
    40% {transform: translate(210px, 200px) rotate(-115deg);}
    55% {transform: translate(-220px, 250px) rotate(-80deg);}
    70% {transform: translate(180px, 320px) rotate(-110deg);}
    80% {transform: translate(-260px, 330px) rotate(-60deg);}
    90% {transform: translate(-40px, 340px);}
    95% {transform: translate(-40px, 350px) rotate(10deg);}
    100% {transform: translate(-50px, 340px);}
}

    /*90% {transform: translate(55px, 495px)}
    95% {transform: translate(60px, 515px) rotate(10deg)}
    100% {transform: translate(50px, 495px)}*/

    /*90% {transform: translate(-55px, 330px) rotate(-5deg);}
    95% {transform: translate(-5px, 340px) rotate(15deg);}
    100% {transform: translate(-60px, 350px);}*/
