.tagLine {
  color: white;
  margin-bottom: 50px;
  font-size: 2em;
}

.splashContainer {
  min-height: 800px;
  /* background: linear-gradient(#F6FA61, #F76B1C); */
}

.logoStyles {
  position: relative;
  transform: translateY(250px);
}

.enterBtn {
  border: 2px solid white;
  padding: 15px 20px;
  border-radius: 15px;
}

.inkWell img {
  width: 200px;
}

.feather img {
  width: 70px;
  position: absolute;
  top: -380px;
  transform: rotate(-95deg);
  animation: featherDrop 5s ease-in-out 0s 1 forwards;
}

@keyframes featherDrop {
  0% {}
  30% {transform: translate(200px, 130px) rotate(-120deg);}
  60% {transform: translate(-200px, 170px) rotate(-70deg);}
  75% {transform: translate(-90px, 190px) rotate(-40deg);}
  85% {transform: translate(-30px, 180px) rotate(-10deg);}
  95% {transform: translate(-10px, 190px);}
  100% {transform: translate(-10px, 180px);}
  /* 60% {transform: translate(40px, 155px) rotate(-70deg);}
  80% {transform: translate(265px, 190px) rotate(-40deg);}
  90% {transform: translate(345px, 180px);}
  95% {transform: translate(340px, 185px);}
  100% {transform: translate(340px, 180px);} */
}

/* 5% {transform: translate(220px, 50px) rotate(-120deg);}
20% {transform: translate(-320px, 110px) rotate(-70deg);}
35% {transform: translate(220px, 200px) rotate(-115deg);}
50% {transform: translate(-220px, 250px) rotate(-80deg);}
65% {transform: translate(190px, 320px) rotate(-110deg);}
80% {transform: translate(-280px, 320px) rotate(-60deg);}
90% {transform: translate(-10px, 340px);}
95% {transform: translate(10px, 350px) rotate(10deg);}
100% {transform: translate(-10px, 340px);} */
