.splashContainer {
  min-height: 900px;
  background: linear-gradient(#F6FA61, #F76B1C);
}

.feather img {
  width: 70px;
}

.inkWell img {
  width: 200px;
}

.logoStyles {
  position: relative;
  transform: translateY(180px);
}
