.tagLine {
  color: white;
  margin-bottom: 50px;
  font-size: 2em;
}

.splashContainer {
  min-height: 800px;
  /* background: linear-gradient(#F6FA61, #F76B1C); */
}

.logoStyles {
  position: relative;
  transform: translateY(250px);
}

.enterBtn {
  border: 2px solid white;
  padding: 15px 20px;
  border-radius: 15px;
  outline: none
}

.inkWell img {
  width: 200px;
}

.feather img {
  width: 70px;
  position: absolute;
  top: -380px;
  transform: rotate(-95deg);
  animation: featherDrop 5s ease-in-out 0s 1 forwards;
}

@keyframes featherDrop {
  0% {}
  30% {transform: translate(200px, 130px) rotate(-120deg);}
  60% {transform: translate(-200px, 170px) rotate(-70deg);}
  75% {transform: translate(-90px, 190px) rotate(-40deg);}
  85% {transform: translate(-30px, 180px) rotate(-10deg);}
  95% {transform: translate(-10px, 190px);}
  100% {transform: translate(-10px, 180px);}
}
