html {
  min-height: 100%;
}

body {
  background-color: #4C4C4C;
  color: white;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    font-size: 1em;
}
