html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#F6FA61, #F76B1C);
  /* background-color: #4C4C4C; */
  /* color: white; */
  font-family: 'Lato', sans-serif;
}
